.about {

    &__header {
        
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-top: 20rem;
    }

    &__heading {

        &--1 {
            text-transform: uppercase;
            font-size: var(--font-m);
            color: var(--color-primary);
            font-family: var(--font-secondary);
            font-weight: 500;
            margin-bottom: var(--mar-s);
        }

        &--2 {
            font-size: 4rem;
        }
    }


    &__main {
        
        background-color: var(--color-secondary);
        color: var(--color-white);
        padding: 15rem 5rem;
        
    }
}

.main {

    &__header-content {
        width: 70%;
        margin: 0 auto;
        text-align: center;

    }

    &__heading {
        font-size: var(--font-xl);
        font-weight: 400;
        
    }

    &__text {
        margin-top: 3rem;
        margin-bottom: 10rem;
        font-family: var(--font-secondary);
        font-weight: 300;
        font-size: var(--font-l);
        line-height: var(--line-height);
    }

    &__features {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        justify-content: center;
        gap: 10rem;
       
    }
}

.custom-shape-divider-top {
    margin-top: 20rem;
    margin-bottom: -1rem;
    width: 100%;
    transform: rotate(180deg);
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
}

.custom-shape-divider-top .shape-fill {
    fill: var(--color-secondary);
    background-color: white;
}

.custom-shape-divider-bottom {
    margin-bottom: 20rem;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    
}

.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
}

.custom-shape-divider-bottom .shape-fill {
    fill: var(--color-secondary);
    background-color: white;
}
