.about {

    &__header {
        
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-top: 20rem;
        margin-bottom: 25rem;
        
        @media only screen and (max-width: 800px) {
            width: 90%;
        }
    }

    &__heading {

        &--1 {
            text-transform: uppercase;
            font-size: var(--font-m);
            color: var(--color-primary);
            font-family: var(--font-secondary);
            font-weight: 500;
            margin-bottom: var(--mar-s);
        }

        &--2 {
            font-size: 4rem;
            font-weight: 300;
        }
    }


    &__main {
        
        background-color: var(--color-secondary);
        color: var(--color-white);
        padding: 15rem 5rem;
        
    }

    &__values {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        margin: 20rem 0;
    }
}

.main {

    &__header-content {
        width: 70%;
        margin: 0 auto;
        text-align: center;

        @media only screen and (max-width: 800px) {
            width: 90%;
        }
    }

    &__heading {
        font-size: var(--font-xl);
        font-weight: 400;
        color: var(--color-primary);
    }

    &__text {
        margin-top: 3rem;
        margin-bottom: 10rem;
        font-family: var(--font-secondary);
        font-weight: 300;
        font-size: var(--font-l);
        line-height: var(--line-height);
    }

    &__features {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        justify-content: center;
        gap: 10rem;
       
    }
}

.values {

    &__heading {
        grid-column: 2 / span 1;
        color: var(--color-primary);
        font-size: 5rem;
        font-weight: 300;

        @media only screen and (max-width: 850px) {
            grid-column: 2 /  -1;
            grid-row: 1 / 2;
            
            margin-bottom: 7rem;
        }
    }

    &__features {
        grid-column: 4 / span 6;

        display: grid;
        grid-template-columns: repeat(2 , minmax(25rem, 1fr));
        gap: 10rem;

        @media only screen and (max-width: 850px) {
            grid-column: 2 /  span 8;
               
        }

        @media only screen and (max-width: 550px) {
            grid-template-columns: 25rem;
            justify-content: center;
        }
    }
}









