.review-slider {
    grid-column: col-start 1 / col-end 8;
    margin: 15rem 0 8rem 0;
    position: relative;

    &__arrow {
        position: absolute;
        bottom: 5%;
        right: 20%;
        cursor: pointer;
        z-index: 1000;
        transition: all .2s ease;
        border-bottom: 3px solid transparent;

        @media only screen and (max-width: 460px) {
            bottom: -5%;
        }
    
        

        &:hover {
            border-bottom: 3px solid var(--color-primary);
        }

        &--next {

            

            &:hover {
                transform: translateY(-.7rem);
            }
        }

        &--previous {
            transform: translateX(-200%);

            &:hover {
                transform: translate(-200%, -.7rem);
            }
        }
    }

    &__line {
        height: 2px;
        width: 5rem;
        display: block;
        background-color: var(--color-dark);
    }

    &__header {
        font-weight: 300;
        text-align: center;
        margin-top: var(--mar-m);
        margin-bottom: 10rem;
    
        letter-spacing: 1rem;
        
    }

    
}

.review {
    display: grid;
    grid-template-columns: min-content 40vw;
    column-gap: 3rem;
    justify-content: center;

    @media only screen and (max-width: 460px) {
        grid-template-columns: min-content;
    }

    

    &__image {
        height: 35rem;
        box-shadow: var(--box-shadow);
    }


    &__text {
        padding: 5rem;
        
        @media only screen and (max-width: 600px) {
            padding: 3rem 1rem;
        }
        
    }

    &__comment {
        font-size: var(--font-m);
        font-family: var(--font-secondary);
        font-weight: 500;
        line-height: var(--line-height);
    }

    &__name {
        font-size: var(--font-s);
    }


}

//Slide animation
.slide {
    opacity: 0;
    transform: translateY(5rem);
    transition-duration: .7s ease;

}

.slide-active {
    opacity: 1;
    transition-duration: .5s;
    transform: scale(1.08) translateY(0);
}

