.button {
    font-size: 2rem;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    background-color: var(--color-primary);
    display: inline-block;
    padding: 1.5rem 4rem;
    color: var(--color-white);
}