@import '../../scss/variables';

.feature-img {
    grid-column: col-start 1 / col-end 3 ;

    margin: 10rem 0;
    padding: 3rem;

    @media only screen and (max-width: $bp-l) {
        grid-column: col-start 3 / col-end 6 ;
    }
    
}

.feature-picture {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    box-shadow: var(--box-shadow);

    
}