.directory {

    &__header {
       margin-top: 25vh;
       margin-bottom: 4rem;
       margin-left: 10rem;
    }

    &__heading {
        font-size: 5rem;

        &--1 {

        }

        &--2 {

            & > span {
                color: var(--color-primary);
            }

        }
    }

    &__img-container {
        width: 100vw;
        height: 50rem;

    }

    &__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    &__story {
        display: grid;
        grid-template-columns: 1fr repeat(10, minmax(min-content, 1fr)) 1fr;
        grid-template-rows: min-content 30vw;
        
        column-gap: 4rem;
        row-gap: 10rem;
        margin : 15rem 0;

        &-header {
            grid-column: 2 / span 10;
            grid-row: 1 / 2;
            justify-self: center;

            font-size: 5rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 3px;
            background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
            background-clip: text;
            -moz-background-clip: text;
            color: transparent;
        }

        &-imgContainer {
            grid-column: 3 / span 4;
            grid-row: 2 / 3;

            position: relative;
        }

        &-image {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }

        &-background {
            width: 100%;
            height: 100%;
            display: block;
            background-color: var(--color-primary);
            position: absolute;
            top: 1rem;
            left: 1rem;
            z-index: -1;
        }

    }

    &__content {
        grid-column: 7 / span 5;
        grid-row: 2 / 3;
        padding: 3rem;
        padding-top: 7rem;
        padding-left: 7rem;
       

        &-header {
            font-size: var(--font-xl);
            font-weight: 400;
            letter-spacing: 3px;
            margin: 2rem 0;
        }

        &-text {
            font-size: var(--font-l);
            font-family: var(--font-secondary);
            font-weight: 300;
            line-height: var(--line-height);
        }

    }

    
    &__menu-header {
        font-size: var(--font-xl);
        text-align: center;
        font-weight: 300;
        margin-top: 20rem;
        margin-bottom: 5rem;
    }
    

    

    

}