.logo {


    &__container {
        display: flex;
        align-items: center;

        &:link,
        &:visited {
            text-decoration: none;
            color: var(--color-dark);
            cursor: pointer;
        }
    }

    &__part {
        text-transform: uppercase;

        &--1 {
            font-size: var(--font-xl);
            font-weight: 700;
            color: var(--color-primary);
        }

        &--2 {
            font-size: var(--font-l);
        }
    }

    &--white {
        color: var(--color-white);
    }
}