.destination-slider {
    grid-column: center-start / center-end ;
    margin: 7rem 0;

    position: relative;

    &__arrow {
        position: absolute;
        top: 55%;
        z-index: 1000;
        cursor: pointer;

        &--next {
            right: 0;
        }

        
    }

    &__header {
        font-weight: 300;
        font-size: var(--font-xl);
        letter-spacing: 1rem;
        margin-bottom: 8rem;
        text-align: center;
    }
}

.destination {
    display: flex;
    justify-content: center;

    &__image-container {
        width: 60vw;
        position: relative;
    }
    
    &__image {
        width: 60vw;
        height: 50rem;
        object-fit: cover;
        display: block;

        
    }

    &__content {
        position: absolute;
        top: 0;
        right: 0;
        width: 35%;
        height: 100%;
        background-color: rgba(116, 120, 136,.85);
        padding: 2rem;
        color: var(--color-white);

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__name {
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: var(--mar-m);
    }

    &__text {
        font-weight: 300;
        font-size: var(--font-m);
        font-family: var(--font-secondary);
    }
}

//Slide animation
.slide-normal {
    opacity: 0;
    transition-duration: .7s ease;

}

.slide-animation {
    opacity: 1;
    transition-duration: .7s;
    // transform: scale(1.08);
}