.destination-slider {
    grid-column: 1 / -1 ;
    margin: 7rem 0 20rem 0;

    position: relative;

    

    &__arrow {
        position: absolute;
        top: 55%;
        z-index: 1000;
        cursor: pointer;
        background-color: transparent;
        
        border-radius: 10rem;
        padding: 1.6rem 2rem;

        @media only screen and (max-width: 900px) {
            top: 105%;
        }
        
        

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--color-white);
            border: 2px solid var(--color-dark);
            border-radius: 50%;
            opacity: 1;
            transform: scale(1);
            transition: all .3s ease;
            z-index: -1;
        }
    
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--color-dark);
            border-radius: 50%;
            transform: scale(0);
            
            z-index: -1;
            transition: all .4s ease;
        }
    
        &:hover {
            color: var(--color-white);
    
            &::before {
                opacity: 0;
                transform: scale(1.4);
            }
    
            &::after {
                transform: scale(1);
            }
        }

        &--next {
            right: 5%;

            @media only screen and (max-width: 900px) {
                right: 35%;
            }

            @media only screen and (max-width: 460px) {
                right: 5%;
            }
        }

        &--previous {
            left: 5%;

            @media only screen and (max-width: 900px) {
                left: 35%;
            }

            @media only screen and (max-width: 460px) {
                left: 5%;
            }
        }

        
    }

    &__header {
        font-weight: 300;
        font-size: var(--font-xl);
        letter-spacing: 1rem;
        margin-bottom: 8rem;
        text-align: center;

        @media only screen and (max-width: 900px) {
            margin: 0 3rem;
            margin-bottom: 5rem;
        }
    }
}

.destination {
    display: flex;
    justify-content: center;

    &__image-container {
        width: 60vw;
        position: relative;

        @media only screen and (max-width: 1000px) {
            width: 75vw;
        }

        @media only screen and (max-width: 900px) {
            width: 95vw;
        }

    
    }
    
    &__image {
        width: 60vw;
        height: 40vw;
        object-fit: cover;
        display: block;

        @media only screen and (max-width: 1000px) {
            width: 75vw;
            height: 45vw;
        }

        @media only screen and (max-width: 900px) {
            width: 95vw;
            height: 50vw;
        }

        @media only screen and (max-width: 700px) {
            height: 60vw;
        }

        
    }

    &__content {
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        background-color: rgba(116, 120, 136,.85);
        padding: 2rem;
        color: var(--color-white);

        display: flex;
        flex-direction: column;
        justify-content: center;

        @media only screen and (max-width: 700px) {
            width: 50%;
        }

        @media only screen and (max-width: 460px) {
            width: 100%;
            justify-content: flex-end;
            background-color: rgba(116, 120, 136,.75);
        }
    }

    &__name {
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: var(--mar-m);
    }

    &__text {
        font-weight: 300;
        font-size: var(--font-m);
        font-family: var(--font-secondary);
    }
}

//Slide animation
.slide-normal {
    opacity: 0;
    transition-duration: .7s ease;

}

.slide-animation {
    opacity: 1;
    transition-duration: .7s;
    // transform: scale(1.08);
}

