.contact {
    grid-column: center-start / center-end ;
    padding: 2rem;
    display: flex;
    margin-top: 12rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: 768px) {
       padding: 0;
    }

    @media only screen and (max-width: 568px) {
        flex-direction: column-reverse;
        
     }
    

    &__img {
        flex: 0 0 35%;

        @media only screen and (max-width: 768px) {
            flex: 0 0 45%;
         }
    }

    &__picture {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        

        @media only screen and (max-width: 568px) {
            height: 60%;
            
         }
    }

    &__content {
        margin-left: 2rem;
        padding: 6rem;
        background-color: var(--color-secondary);

        @media only screen and (max-width: 768px) {
            margin-left: 0;
            padding: 6rem 2rem;
         }
        
        
    }

    &__line {
        height: 2px;
        display: block;
        width: 5rem;
        background-color: var(--color-primary);
    }

    &__header {
        font-size: var(--font-xl);
        font-weight: 400;
        color: var(--color-primary);
        margin: var(--mar-s) 0;
        
    }

    &__text {
        font-size: var(--font-l);
        font-family: var(--font-secondary);
        line-height: var(--line-height);
        color: var(--color-white);
        margin-right: 5rem;
        margin-bottom: var(--mar-xl);
        
    }

    &__info {
        color: var(--color-white);
        font-family: var(--font-secondary);
        font-size: var(--font-l);
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 3rem;
        row-gap: 6rem;
        
        
    }

    &__phone-list {
        list-style: none;

    }

}