.service-card {
    color: var(--color-white);
    background-color: rgba(66, 70, 86, .85);
    padding: 5rem 1.5rem;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    

    &__icon {
        fill: var(--color-primary);
        width: 3rem;
        height: 3rem;
    }

    &__header {
        font-size: var(--font-l);
        
        margin-top: var(--mar-m);
        margin-bottom: var(--mar-s);
    }

    &__text {
        font-size: var(--font-m);
        font-family: var(--font-secondary);
        font-weight: 300;
        text-align: center;
        line-height: var(--line-height);
    }  
}