.service-card {
    color: var(--color-white);
    background-color: black;

    &__icon {
        fill: currentColor;
        width: 2rem;
        height: 2rem;
    }

    &__header {
        color: currentColor;
    }

    &__text {
        color: currentColor;
    }  
}