@import '../../scss/variables';

.header {
        grid-column: 1 / -1 ;
    
        background-image: linear-gradient(to right bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .4)) ,url(../../assets/images/header.jpg);
        background-size: cover;
        background-position: center;

        position: relative;

        @media only screen and (max-width: 900px) {
            text-align: center;
        }

    
    
    &__container {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateY(-50%);

        @media only screen and (max-width: 900px) {
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--color-white);
        }

    }

    &__heading {
        font-family: inherit;
        
        color: var(--color-dark);
        text-transform: uppercase;




        &-1 {
            font-size: 5rem;
            font-weight: 200;

            @media only screen and (max-width: 900px) {
                font-size: 7rem;
                font-weight: 400;
                letter-spacing: 2rem;
            }

            @media only screen and (max-width: 900px) {
                letter-spacing: 0;
            }

            @media only screen and (max-width: 460px) {
                font-size: 5rem;
            }

        }

        &-2 {
            font-size: 7rem;
            font-weight: 400;
            margin-bottom: var(--mar-m);

            @media only screen and (max-width: 900px) {
                letter-spacing: 2rem;
            }

            @media only screen and (max-width: 900px) {
                letter-spacing: 0;
            }

            @media only screen and (max-width: 460px) {
                font-size: 5rem;
            }
        }
    }
}



