.nav {

    &__container {
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
        padding: 0 4rem;
        display: flex;
        align-items: center;
        z-index: 1;
    }

    &__list {
        list-style: none;
        font-size: var(--font-l);
        font-family: var(--font-secondary);
        margin-left: auto;

        display: flex;
    }

    &__item {
        cursor: pointer;
        position: relative;
        
        transition: all .3s;

        &:not(:last-child) {
            margin-right: 5rem;
        }

        &::after {
            content: '';
            display: inline-block;;
            position: absolute;
            bottom: -.5rem;
            left: 0;
            background-color: var(--color-primary);
            width: 0;
            height: 2px;
            transition: all .3s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: var(--color-dark);
    }
}