.footer {
    grid-column: 1 / -1 ;
    position: relative;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: end;

    font-size: var(--font-m);
    padding: 4rem 3rem;
    padding-top: 15rem;
    margin-top: 20rem;
    background-color: var(--color-primary);
    

    &__text {

    }

    &__icon {
        
    }

    &__logo-icon {
        width: 3rem;
    
    }

    &__logo-text {
        color: var(--color-white);
        text-transform: uppercase;
        font-size: var(--font-l);
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        margin-top: var(--mar-s);
    }

    &__social {
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;      
    }

    &__links {
        justify-self: end;
    }

    &__link {

        &:not(:last-child) {
            margin-right: 2.5rem;
        }
        
        &:link,
        &:visited {
            text-decoration: none;
            color: var(--color-dark);
            cursor: pointer;
        }
    }
}