:root {
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Roboto', sans-serif;

    --color-primary: #00C6BF;
    --color-primary-dark: #008f93;

    --color-secondary: #424656;
    --color-secondary-light: rgb(116, 120, 136);

    // Colors for testing
    // --color-primary: red;
    // --color-primary-dark: #2CDD88;

    // --color-secondary: #41393E;
    // --color-secondary-light: rgb(116, 120, 136);

    --color-dark: #000000;
    --color-dark-light: #333333;

    --color-white: #ffffff;

    --line-height: 2.5rem;

    --box-shadow: 0px 0px 20px 3px #808080;
    --box-shadow-glow: 0px 0px 5px 1px #00C6BF;

    --mar-xs: 1rem;
    --mar-s: 2rem;
    --mar-m: 3rem;
    --mar-l: 4rem;
    --mar-xl: 5rem;

    --font-xs: 1.3rem;
    --font-s: 1.6rem;
    --font-m: 1.8rem;
    --font-l: 2rem;
    --font-xl: 4rem;

    // //Media query
    // --bp-xl: 75em; //1200px

}



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
    
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 62.5%; //62.5% of 16px = 10px >>> 1rem = 10px

    @media only screen and (max-width: 1000px) {
        font-size: 50%; // 1 rem = 8px
    }

}

body {
    font-family: var(--font-primary);
    overflow-x: hidden;
    position: relative;

}











