.faqs {
    margin-top: 15rem;

    &__header {
        background-image: url(../../assets/images/faq.jpg);
        height: 20vw;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media only screen and (max-width: 700px) {
            height: 35vw;
        }

    }

    &__heading {
        text-align: center;
        font-size: 5rem;
        margin-bottom: 5rem;

        @media only screen and (max-width: 700px) {
            font-size: 3rem;
        }

        @media only screen and (max-width: 340px) {
            font-size: 2.5rem;
        }       
    }

    &__container {
        margin: 10rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}